@page "/"

<PageTitle>Index</PageTitle>

<div class="container">
    <h1 class="display-4 mb-4">Hey!</h1>
    <NavLink href="/aggregationstages" class="btn btn-primary mb-3 me-3 d-inline-block">Aggregation Stages</NavLink>
    <NavLink href="/aggregationoperators" class="btn btn-primary mb-3 me-3 d-inline-block">Aggregation Operators</NavLink>
    <NavLink href="/codeexamples" class="btn btn-primary mb-3 d-inline-block">Code Examples</NavLink>
</div>